--extra-index-url https://pypi.org/simple
pip>=23.3
setuptools==68.2.2
wheel==0.40.0

Flask==2.3.3
Flask-Bcrypt==1.0.1
Flask-Login==0.6.3
Flask-SQLAlchemy==3.0.5
Flask-WTF==1.1.1
gunicorn==23.0.0
python-dotenv==1.0.0
Werkzeug==2.3.7
WTForms==3.0.1
Jinja2==3.1.4
requests==2.32.3
bcrypt==4.1.2